<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>IOT Monitoring</h1>
    <table>
        <tr>
            <td>Temperature</td>
            <td><span id="temperature"></span></td>
        </tr>
        <tr>
            <td>Moisture</td>
            <td><span id="moisture"></span></td>
        </tr>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        let a = [];
        $(document).ready(() => {
            setInterval(() => {
                $.get("http://localhost:8081/data", (data, status) => {
                    if (status === "success") {
                        $("#temperature").text(data.temperature);
                        $("#moisture").text(data.moisture);
                        a.push({
                            "temperature": data.temperature,
                            "moisture": data.moisture
                        })
                        console.log(a)
                    }
                });
            }, 2000);
        });
    </script>
</body>
</html>